<form action="/usuario/{{usuario._id}}/edit" method="post">
<!--/-->
<!--llega a la ruta de edit pero del metodo post (1) -->
  <input type="text" name="Nombreusuario" placeholder="Nombre" value="{{usuario.Nombreusuario}}" />
  <input type="text" name="Correo" placeholder="Correo" value="{{usuario.Correo}}"  />
  <input type="text" name="Contrasenia" placeholder="Contraseñia" value="{{usuario.Contrasenia}}"  />
  <input type="text" name="Telefono" placeholder="Teléfono" value="{{usuario.Telefono}}" />
  <input type="text" name="Genero" placeholder="Género" value="{{usuario.Genero}}" />
  <input type="text" name="Pais" placeholder="País" value="{{usuario.Pais}}" />
  <input type="text" name="Edad" placeholder="Edad" value="{{usuario.Edad}}" />
  <button>Update</button>

</form>